@import 'common';

#con-top{
    width: 100%;
    height:70px;
    .top-logo{
        float: left;
        margin-top:11px;
        width: 360px;
        height: 47px;
        display: inline-block;
        background: url('img/logo.jpg') no-repeat 0 0;
    }
    ul{
       height:100%;
       float: right;
       li{
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          margin-top: 25px;
          float: left;
          display: inline-block;
          width: 200px;
          height: 20px;
          background-color: #eee; 
       } 
       li:nth-of-type(1){
           color:#fff;
           background-color: #FC4E00;
       }
    }
}
#con-mid{
    height: 200px;
    border:1px solid #f1f1f1;
    .carlist{
        position: relative;
        width: 310px;
        height: 100px;
        margin:50px auto;
        padding-left: 57px;
        span{
           position: absolute; 
           width: 70px;
           height: 56px;
           top:-23px;
           left: -15px;
           display: block;
           background: url('img/carlist.png') no-repeat -30px -153px;
        }
        p{
           font-size: 12px;
        }
        p:nth-of-type(1){
            color:#999;
            font-size: 14px;
        }
        a:nth-of-type(1){
            margin:10px 0;
            text-align: center;
            line-height: 24px;
            display: block;
            color:#666;
            font-weight: bold;
            background-color: #FFDFBF;
            width: 80px;
            height: 24x;
            font-size: 14px;
            border-radius: 2px;
            border: 1px solid #ccc;
            &:hover{
                color:red;
            }
        }
        a{
           display: block;
           font-size: 12px; 
           color:blue;
        }
    }   
}
//cookie后
#con-mid1{
    display:none;
    border: 1px solid #f1f1f1;
    width: 100%;
    box-sizing: border-box;
    #con-title{
        border-bottom:1px solid #f1f1f1;
        height: 45px;
        line-height: 45px;
        span{
            width:140px;
            text-align:center;
            color:#999;
            font-size: 12px;
            display: inline-block;
            input{
                outline: none;
            }
        }
        span:nth-of-type(1){
            width:120px;
        }
        span:nth-of-type(2){
            width:300px;
        }
    }
    .changC{
        background-color: #fffdf4;
    }
    #con-goodlist{
        width:100%;
        .section1{
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid #f1f1f1;
            span{
                box-sizing: border-box;
                padding-top: 50px;
                float: left;
                height: 120px;
                width:147px;
                text-align:center;
                color:#999;
                font-size: 12px;
                display:block;
                input{
                    outline: none;
                }

            }
            img{
                width: 60px;
                height: 60px;
                position: absolute;
                border: 1px solid #efefef;
                top: 26px;
                left:88px;
             }
            span:nth-of-type(1){
                width:120px;
            }
            span:nth-of-type(2){
                box-sizing: border-box;
                padding-left:40px ;
                padding-right: 27px;
                width:300px;
            }  
            .opera{
                cursor: pointer;
                &:hover{
                    color: red;
                }
            }   
        }
    }
    #seleAll{
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #f1f1f1;
        span{
            width:120px;
            text-align:center;
            color:#999;
            font-size: 12px;
            display: inline-block;
            input{
                outline: none;
            }
            a{
                color:#999;
                font-size: 12px;
            }
        }
        span:nth-of-type(3){
            cursor: pointer;
        }
    }
    #totalM{
        height:55px;
        #btn-home{
            cursor: pointer;
            width: 100px;
            height: 40px;
            border-radius: 2px;
            border: 1px solid #FFB973;
            background-color: #FFDFBF;
            color:#666;
            margin-top:7px;
            margin-left: 20px;
        }
        .delall{
            cursor: pointer;
            display: inline-block;
            margin:0 40px;
            color:blue;
            font-size: 12px;
            &:hover{
                color: red;
            }
        }
        span{
            width: 200px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            float: right;
            margin-top:11px;
            font-size: 12px;
            font-weight: bold;
            p{
                margin-left: 5px;
                display: inline-block;
                color:red;
                font-size:18px     
            }
        }
        #btn-next{
            cursor: pointer;
            float: right;
            height: 55px;
            width: 120px;
            border: 0;
            color:#fff;
            background-color: #FF7103;
        }
    }
}














#con-bot{
    margin-top: 10px;
    height: 100px;
    text-align: right;
    width: 100%;
    p{
        color:#999;
        margin:5px 0;
        font-size: 12px;
        display: inline-block;
        width: 100%;
        a{
            font-size: 12px;
            color:#999;
            &:hover{
                color:red;
            }
        }
    }
}
