@import 'common';
#side{
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
    width: 30px;
    background-color: #000;
    .Bcar{
        cursor: pointer;
        position:absolute;
        top:260px;
        box-sizing: border-box;
        display: inline-block;
        height: 100px;   
        width: 30px;
        padding:0 7px;
        color:#fff;
        &:hover{
            background-color: #CC0000;
        }
        &:hover span{
            background: url('img/buycar1.png') no-repeat -8px -10px;
        }
        span{
            margin-top:15px;
            display: inline-block;
            width: 19px;
            height: 15px;
            background: url('img/buycar.png') no-repeat -8px -10px;
        };
    }
}
#foot{
    margin-top:30px;
    width: 100%;
    height:220px;
    overflow: hidden;
    background-color: #F4F4F4;
    .container{
        #foot-t{
            width: 100%;
            height: 190px;
            position: relative;
            #bz{
                margin:10px 0;
                border:1px solid #ccc;
                height: 46px;
                ul{
                    li{
                        float:left;
                        width: 25%;
                        height: 46px;
                        line-height: 46px;
                        text-align: center;
                        position:relative;
                        span{
                            position:absolute;
                            top: 7px;
                            left: 62px;
                            width:30px;
                            height: 32px;
                            background: url('img/spirits.png') no-repeat 0 -37px;
                        }
                        a{
                            display: inline-block;
                            color:#666;
                            font-size: 16px;    
                        }
                        a:hover{
                            color:red;
                        }
                    }
                }
            }
            .foot-list{
                ul{
                    margin-top: 20px;
                    width: 150px;
                    height:110px;
                    float: left;
                    li{
                        color:#656565;
                        font-weight: bold;
                        font-size: 12px;
                        a{
                            display: block;
                            font-weight: normal;
                            color:#000;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                        a:hover{
                            color:red;
                        }
                    }
                    li:nth-of-type(1){
                        margin-bottom: 10px;
                    }
                }
                .ul1{
                    width:200px;
                    li{
                        position: relative;
                        span{
                           display: block;
                           width: 24px;
                           height: 20px;
                           background: url('img/newbase.png') no-repeat -317px -30px;
                           position: absolute;
                        }
                        a{
                            display: inline-block;
                            color: red;
                        }
                    }
                    li:nth-of-type(2){
                        a{
                            margin-left: 27px;
                            margin-bottom: 15px;
                        }
                    }
                }  
            }
            .foot-code{
                position:absolute;
                top: 73px;
                right: 123px;
            }
            .foot-code1{
                position:absolute;
                top: 73px;
                right: 24px;
            }
        }
    }
}
#foot-bot{
    width: 100%;
    height: 110px;
    background-color: #000;
    overflow: hidden;
    .container{
        .foot-logo{
            float: left;
            width:340px;
            margin-top:35px;
        } 
        .foot-bot-r{
            float:right;
            height: 110px;
            width: 850px;
            ul{
                overflow: hidden;
                margin-top:10px;
                li{
                    float: right;
                    a{
                        display: block;
                        width: 55px;
                        margin:0 5px;
                        border-right: 1px solid #fff;
                        font-size: 12px;
                        color:#fff;
                    }
                }
                li:nth-of-type(1) a{
                    border: none;
                }
            }
            p{
                margin: 7px;
                display: block;
                float: right;
                color:#fff;
                font-size: 12px;
            }
            .yz{
                width: 100%;
                height: 50px;
                img{
                    float: right;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }  
    }
}