@import 'common';
#top-menu{
    box-sizing:border-box;
    background: url('img/bg2.png') 0 -4px;
    border-bottom:1px solid #eee;
    #top-menu-main{
        @extend .container;
        height: 30px;
        #top-menu-l{
            float:left;
            ul{
                width:310px;
                height:30px;
                border-left:1px solid #eee;
                border-right:1px solid #eee;
                li{
                    float:left;
                    a{
                        display:inline-block;
                        width:100px;
                        box-sizing:border-box;
                        line-height:30px;
                        text-align:center;
                        color:#666666;
                        &:hover{
                            color:#B90000;
                        }
                    }
                    &:nth-child(1) a{
                        background-color: #FFF;
                    }
                    &:nth-child(2) a{
                        color:#fff;
                        background-color:#B90000;
                    }
                    &:nth-child(3){
                        position:relative;
                        &:hover{
                            background-color: #FFF;
                        }
                        &:hover #app{
                            display:block;
                        }
                        span:nth-of-type(1){
                            position:absolute;
                            display:block;
                            width:8px;
                            height:13px;    
                            top:8px;
                            left:10px;
                            background: url('img/spirits.png') no-repeat -152px -80px;
                        } 
                        span:nth-of-type(2){
                            position:absolute;
                            display:block;
                            width:7px;
                            height:4px;
                            top:13px;
                            right:10px;
                            background: url('img/spirits.png') no-repeat -189px -844px;
                        }
                        #app{
                            display:none;
                            position:absolute;
                            width:260px;
                            height:150px;
                            background-color: #FFF;
                            box-shadow:1px 1px 3px #666;
                            img{
                                margin:10px auto 0px;
                            }
                            p{
                                display:inline-block;
                                font-size:20px;
                                margin-left:25px;
                                margin-right:5px;
                            }
                            h2{
                                display:inline-block;
                                font-size:22px;
                            }
                        }
                    }
                }
            }
        }
        #top-menu-r{
            float:right;
            a{  
                font-size:12px;
                height:30px;
                color:#666666;
                display:block;
                width: 60px;
                text-align:center;
            }
            #login{
                float:left;
                width:110px;
                display:inline-block;
                a{  
                    color:red;
                    height:15px;
                    line-height:15px;
                    margin-top:8px;
                    width:40px;
                    display:inline-block;
                    &:nth-child(2){
                        border-right:1px solid #ddd;
                        padding-right:10px;
                    }
                }
            }
            ul{
                float:left;
                width: 270px;
                height:30px;
                box-sizing:border-box;  
                li{
                    float:left;
                    position:relative;
                    a{
                        line-height:30px;
                        &:hover{
                            color:#B90000;
                        }
                    }
                    &:nth-child(1) a{
                        padding-right:15px;
                    }
                    &:nth-child(1) span,&:nth-child(3) span,&:nth-child(4) span{
                        position:absolute;
                        display:block;
                        width:8px;
                        height:13px;    
                        top:14px;
                        right:8px;
                        background: url('img/spirits.png') no-repeat -189px -844px;
                    }
                    &:nth-child(1):hover{
                        background-color: #FFF;
                    }
                    &:nth-child(1):hover #sc{
                        display:block;
                    }
                    #sc{
                        position:absolute;
                        background-color: #FFF;
                        display:none;
                    }
                    &:nth-child(3):hover{
                        background-color: #FFF;
                    }
                    &:nth-child(3):hover #gg{
                        display:block;
                    }
                    &:nth-child(4):hover{
                        background-color: #FFF;
                    }
                    &:nth-child(4):hover #more{
                        display:block;
                    }
                    #gg{
                        padding:10px;
                        top:30px;
                        right:0;
                        display:none;
                        position:absolute;
                        z-index:1000;
                        width:150px;
                        height:100px;
                        background-color: #FFF;
                        a{
                            height:20px;
                            line-height:20px;
                            text-align:left;
                            width:150px;
                            font-size:12px;
                        }
                        a:nth-of-type(1){
                            color:red;
                        }
                    }
                    #more{
                        padding:10px;
                        top:30px;
                        right:0;
                        display:none;
                        position:absolute;
                        z-index:1000;
                        width:80px;
                        height:40px;
                        background-color: #FFF;
                        a{
                            height:20px;
                            line-height:20px;
                            text-align:left;
                            width:80px;
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }
}
#top{
    height: 125px;
    #logo{
        float:left;
        height:125px;
        width: 300px;
        img{
            padding-top:23px;
        }
    }
    #top-search{
        height:125px;
        float:left;
        width: 685px;
        #search{
            margin-top:43px;
            width:527px;
            height:34px;
            box-sizing:border-box;
            border:2px solid #000;
            input{
                float:left;
                width: 440px;
                height:30px;
                border:0;
                outline:none;
                font-size:16px;
            }
            #btn_search{
                cursor:pointer;
                display:inline-block;
                width:83px;
                height:32px;
                border:none;
                background:url('img/spirits.png') no-repeat -115px -532px;
            }
        }
        ul{
            margin-top:15px;
            li{
                float:left;
                a{  
                    height:14px;
                    line-height:14px;
                    font-size:12px;
                    color:#666;
                    display:block;
                    border-right:1px solid #666;
                    padding-right:5px;
                    padding-left:5px;
                }
                a:hover{
                    color:red;
                }
            }
            li:nth-of-type(1) a{
                color:red;
                padding-left:0;
            }
            li:last-of-type a{
                border:0;
            }
        }
    }
    #top-buy{
        float:left;
        height:125px;
        margin-left:40px;
        #buycar{
            position:relative;
            cursor:pointer;
            margin-top:43px;
            width: 147px;
            height: 34px;
            box-sizing:border-box;
            border:1px solid #ccc;
            background-color: #FFF;
            #car-logo{
                margin-top:6px;
                margin-left:10px;
                float:left;
                display:block;
                width:18px;
                height:18px;
                background: url('img/spirits.png') no-repeat -92px -533px;
            }
            a{
                color:#000;
            }
            #num{
                margin-top:6px;
                font-size:12px;
                display:inline-block;
                margin-left:16px;
                i{
                    position:absolute;
                    width:7px;
                    height:4px;
                    top:13px;
                    right:10px;
                    background: url('img/spirits.png') no-repeat -189px -844px;
                }
            }
            #buy-content{
                font-size:12px;
                text-align:center;
                line-height:40px;
                width:300px;
                height: 40px;
                position:absolute;
                top:32px;
                right:-1px;
                background-color: #FFF;
                border:1px solid #ddd;
                display:none;
                box-shadow:1px 1px 2px 0px #999;
            }
            #buy-content1{
                display: none;
                font-size:12px;
                width:500px;
                position:absolute;
                z-index: 200;
                top:32px;
                right:-1px;
                background-color: #FFF;
                border:1px solid #ddd;
                box-shadow:1px 1px 2px 0px #999;
                .section2{
                    height:50px;
                    border-bottom:1px dotted #f1f1f1;
                    img{
                        margin:5px;
                        float:left;
                        width: 40px;
                        height: 40px;
                        box-sizing: border-box;
                        border: 1px solid #f1f1f1;
                    }
                    .cont-l{
                        margin-top: 5px;
                        margin-left: 10px;
                        float: left;
                        width: 340px;
                        .goodname{
                            a{
                                color: blue;
                                font-size: 12px;
                            }  
                        }
                        .goodcolor,.goodsize{
                            display: inline-block;
                            font-size: 12px;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                    .cont-mid{
                        margin-top:15px;
                        width: 50px;
                        float: left;
                        color:red;
                    }
                    .cont-r{
                        margin-top:10px;
                        cursor: pointer;
                        width: 50px;
                        float: left;
                        text-align: center;
                        .num1{
                            font-size: 12px;
                            display: block;
                        }
                        .del{
                            font-size: 12px;
                            color:blue;
                        } 
                    }
                }
                .content-foot{
                    height: 30px;
                    background-color: #f1f1f1;
                    .num1{
                        font-size: 12px;
                        display: block;
                        float: left;
                        margin-left: 5px;
                        margin-top:9px;    
                    }
                    a{
                        font-size: 12px;
                        display: block;
                        float: right;
                        color:#fff;
                        margin-top:5px;
                        margin-right: 5px;
                        border-radius: 2px;
                        background-color: #FFB973;
                        text-align: center;
                        width: 100px;
                        height: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
        >p{
           margin-top: 10px;
           font-size: 12px; 
           color:red;
        }
    }
}
#nav{
    width: 100%;
    height: 40px;
    h1{
        text-align: center;
        float: left;
        display:block;
        height:40px;
        line-height: 40px;
        width: 200px;
        font-size:20px;
        color: #fff;
        background-color: #000;
    }
    #nav-l{
        float:left;
        width:510px;
        li{
            float:left;
            a{
                text-align: center;
                display: block;
                line-height: 40px;
                width: 70px;
                font-size:16px;
                height:40px;
                color: #000;
                font-weight: bold;
                
                &:hover{
                    color:red;
                }
            }
        }
    }
    #nav-r{
        float:right;
        width:350px;
        li{
            float:left;
           a{
               text-align: center;
               display: block;
               line-height: 40px;
               width: 60px;
               font-size:14px;
               height:40px;
               color: #000;
               
               &:hover{
                    color:red;
                }
           }
           &:nth-child(1) a{
               color:red;
           }
           &:nth-child(4) a{
               width:100px;
           } 
        }
    }  
}
#line{
    width: 100%;
    height: 5px;
    background-color: #000;
    bottom: 0;
}