* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.container, #top-menu #top-menu-main {
  width: 1190px;
  margin: 0 auto;
}

body {
  background-color: #F8F8F8;
}

#top-menu {
  box-sizing: border-box;
  background: url("img/bg2.png") 0 -4px;
  border-bottom: 1px solid #eee;
}

#top-menu #top-menu-main {
  height: 30px;
}

#top-menu #top-menu-main #top-menu-l {
  float: left;
}

#top-menu #top-menu-main #top-menu-l ul {
  width: 310px;
  height: 30px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

#top-menu #top-menu-main #top-menu-l ul li {
  float: left;
}

#top-menu #top-menu-main #top-menu-l ul li a {
  display: inline-block;
  width: 100px;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  color: #666666;
}

#top-menu #top-menu-main #top-menu-l ul li a:hover {
  color: #B90000;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(1) a {
  background-color: #FFF;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(2) a {
  color: #fff;
  background-color: #B90000;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3) {
  position: relative;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3):hover {
  background-color: #FFF;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3):hover #app {
  display: block;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3) span:nth-of-type(1) {
  position: absolute;
  display: block;
  width: 8px;
  height: 13px;
  top: 8px;
  left: 10px;
  background: url("img/spirits.png") no-repeat -152px -80px;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3) span:nth-of-type(2) {
  position: absolute;
  display: block;
  width: 7px;
  height: 4px;
  top: 13px;
  right: 10px;
  background: url("img/spirits.png") no-repeat -189px -844px;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3) #app {
  display: none;
  position: absolute;
  width: 260px;
  height: 150px;
  background-color: #FFF;
  box-shadow: 1px 1px 3px #666;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3) #app img {
  margin: 10px auto 0px;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3) #app p {
  display: inline-block;
  font-size: 20px;
  margin-left: 25px;
  margin-right: 5px;
}

#top-menu #top-menu-main #top-menu-l ul li:nth-child(3) #app h2 {
  display: inline-block;
  font-size: 22px;
}

#top-menu #top-menu-main #top-menu-r {
  float: right;
}

#top-menu #top-menu-main #top-menu-r a {
  font-size: 12px;
  height: 30px;
  color: #666666;
  display: block;
  width: 60px;
  text-align: center;
}

#top-menu #top-menu-main #top-menu-r #login {
  float: left;
  width: 110px;
  display: inline-block;
}

#top-menu #top-menu-main #top-menu-r #login a {
  color: red;
  height: 15px;
  line-height: 15px;
  margin-top: 8px;
  width: 40px;
  display: inline-block;
}

#top-menu #top-menu-main #top-menu-r #login a:nth-child(2) {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

#top-menu #top-menu-main #top-menu-r ul {
  float: left;
  width: 270px;
  height: 30px;
  box-sizing: border-box;
}

#top-menu #top-menu-main #top-menu-r ul li {
  float: left;
  position: relative;
}

#top-menu #top-menu-main #top-menu-r ul li a {
  line-height: 30px;
}

#top-menu #top-menu-main #top-menu-r ul li a:hover {
  color: #B90000;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(1) a {
  padding-right: 15px;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(1) span, #top-menu #top-menu-main #top-menu-r ul li:nth-child(3) span, #top-menu #top-menu-main #top-menu-r ul li:nth-child(4) span {
  position: absolute;
  display: block;
  width: 8px;
  height: 13px;
  top: 14px;
  right: 8px;
  background: url("img/spirits.png") no-repeat -189px -844px;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(1):hover {
  background-color: #FFF;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(1):hover #sc {
  display: block;
}

#top-menu #top-menu-main #top-menu-r ul li #sc {
  position: absolute;
  background-color: #FFF;
  display: none;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(3):hover {
  background-color: #FFF;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(3):hover #gg {
  display: block;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(4):hover {
  background-color: #FFF;
}

#top-menu #top-menu-main #top-menu-r ul li:nth-child(4):hover #more {
  display: block;
}

#top-menu #top-menu-main #top-menu-r ul li #gg {
  padding: 10px;
  top: 30px;
  right: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 150px;
  height: 100px;
  background-color: #FFF;
}

#top-menu #top-menu-main #top-menu-r ul li #gg a {
  height: 20px;
  line-height: 20px;
  text-align: left;
  width: 150px;
  font-size: 12px;
}

#top-menu #top-menu-main #top-menu-r ul li #gg a:nth-of-type(1) {
  color: red;
}

#top-menu #top-menu-main #top-menu-r ul li #more {
  padding: 10px;
  top: 30px;
  right: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 80px;
  height: 40px;
  background-color: #FFF;
}

#top-menu #top-menu-main #top-menu-r ul li #more a {
  height: 20px;
  line-height: 20px;
  text-align: left;
  width: 80px;
  font-size: 12px;
}

#top {
  overflow: hidden;
}

#top #logo {
  float: left;
  height: 125px;
  width: 300px;
}

#top #logo img {
  padding-top: 23px;
}

#top #top-search {
  height: 125px;
  float: left;
  width: 685px;
}

#top #top-search #search {
  margin-top: 43px;
  width: 527px;
  height: 34px;
  box-sizing: border-box;
  border: 2px solid #000;
}

#top #top-search #search input {
  float: left;
  width: 440px;
  height: 30px;
  border: 0;
  outline: none;
  font-size: 16px;
}

#top #top-search #search #btn_search {
  cursor: pointer;
  display: inline-block;
  width: 83px;
  height: 32px;
  border: none;
  background: url("img/spirits.png") no-repeat -115px -532px;
}

#top #top-search ul {
  margin-top: 15px;
}

#top #top-search ul li {
  float: left;
}

#top #top-search ul li a {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #666;
  display: block;
  border-right: 1px solid #666;
  padding-right: 5px;
  padding-left: 5px;
}

#top #top-search ul li a:hover {
  color: red;
}

#top #top-search ul li:nth-of-type(1) a {
  color: red;
  padding-left: 0;
}

#top #top-search ul li:last-of-type a {
  border: 0;
}

#top #top-buy {
  float: left;
  height: 125px;
  margin-left: 40px;
}

#top #top-buy #buycar {
  position: relative;
  cursor: pointer;
  margin-top: 43px;
  width: 147px;
  height: 34px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #FFF;
}

#top #top-buy #buycar span {
  margin-top: 6px;
  margin-left: 10px;
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  background: url("img/spirits.png") no-repeat -92px -533px;
}

#top #top-buy #buycar #num {
  margin-top: 6px;
  font-size: 12px;
  display: inline-block;
  margin-left: 16px;
}

#top #top-buy #buycar #num i {
  position: absolute;
  width: 7px;
  height: 4px;
  top: 13px;
  right: 10px;
  background: url("img/spirits.png") no-repeat -189px -844px;
}

#top #top-buy #buycar #buy-content {
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: -1px;
  background-color: #FFF;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px 0px #999;
}

#top #top-buy #buycar:hover #buy-content {
  display: block;
}

#top #top-buy > p {
  margin-top: 10px;
  font-size: 12px;
  color: red;
}

#nav {
  width: 100%;
  height: 40px;
}

#nav h1 {
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
}

#nav #nav-l {
  float: left;
  width: 510px;
}

#nav #nav-l li {
  float: left;
}

#nav #nav-l li a {
  text-align: center;
  display: block;
  line-height: 40px;
  width: 70px;
  font-size: 16px;
  height: 40px;
  color: #000;
  font-weight: bold;
}

#nav #nav-l li a:hover {
  color: red;
}

#nav #nav-r {
  float: right;
  width: 350px;
}

#nav #nav-r li {
  float: left;
}

#nav #nav-r li a {
  text-align: center;
  display: block;
  line-height: 40px;
  width: 60px;
  font-size: 14px;
  height: 40px;
  color: #000;
}

#nav #nav-r li a:hover {
  color: red;
}

#nav #nav-r li:nth-child(1) a {
  color: red;
}

#nav #nav-r li:nth-child(4) a {
  width: 100px;
}

#line {
  width: 100%;
  height: 5px;
  background-color: #000;
  bottom: 0;
}

#banner {
  width: 100%;
  height: 480px;
}

#banner #banner-l {
  float: left;
  height: 100%;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

#banner #banner-l ul .li1 {
  position: relative;
  height: 65px;
}

#banner #banner-l ul .li1 .top {
  padding-top: 15px;
  margin-left: 15px;
  position: relative;
}

#banner #banner-l ul .li1 .top .icon {
  position: absolute;
  display: inline-block;
  top: 16px;
  left: 0;
  width: 26px;
  height: 15px;
  background: url("img/ban-icon.jpg") no-repeat 0 -31px;
}

#banner #banner-l ul .li1 .top a {
  display: inline-block;
  color: #000;
}

#banner #banner-l ul .li1 .top a:nth-of-type(1) {
  margin-left: 30px;
}

#banner #banner-l ul .li1 .bot {
  margin-left: 43px;
}

#banner #banner-l ul .li1 .bot a {
  font-size: 12px;
  color: #666;
}

#banner #banner-l ul .li1 a:hover {
  text-decoration: underline;
}

#banner #banner-l ul .li1 .list {
  z-index: 1000;
  display: none;
  box-sizing: border-box;
  position: absolute;
  right: -151px;
  top: 0;
  width: 150px;
  height: 480px;
  background-color: #fff;
}

#banner #banner-l ul .li1 .list ul li {
  margin-bottom: 20px;
}

#banner #banner-l ul .li1 .list ul li .a1 {
  position: relative;
  transition: all 1s;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-weight: bold;
  width: 100px;
  color: #000;
  height: 18px;
  line-height: 18px;
  background-color: #eee;
}

#banner #banner-l ul .li1 .list ul li .a1:hover {
  text-decoration: none;
  left: 10px;
}

#banner #banner-l ul .li1 .list ul li .list-l {
  display: inline-block;
  width: 45%;
}

#banner #banner-l ul .li1 .list ul li .list-l a {
  display: block;
  text-align: center;
  margin-left: 10px;
}

#banner #banner-l ul .li1 .list ul li .list-l a:hover {
  color: red;
  text-decoration: none;
}

#banner #banner-l ul .li1:hover {
  background-color: #656565;
}

#banner #banner-l ul .li1:hover span {
  color: #fff;
}

#banner #banner-l ul .li1:hover .top > a, #banner #banner-l ul .li1:hover .bot > a {
  color: #fff;
}

#banner #banner-l ul .li1:hover .icon {
  background: url("img/ban-icon.jpg") no-repeat -52px -31px;
}

#banner #banner-l ul .li1:hover .list {
  display: block;
}

#banner #banner-r {
  float: left;
  box-sizing: border-box;
  width: 990px;
  height: 480px;
  position: relative;
}

#banner #banner-r img {
  position: absolute;
  top: 0;
  left: 0;
}

#banner #banner-r .cir {
  position: absolute;
  bottom: 20px;
  left: 80%;
  z-index: 1000;
}

#banner #banner-r .cir span {
  color: #fff;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #000;
  border-radius: 10px;
  z-index: 1000;
  cursor: pointer;
}
