* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 1190px;
  margin: 0 auto;
}

#nav {
  height: 80px;
}

#nav .logo {
  float: left;
  margin-top: 20px;
  height: 42px;
  width: 170px;
  border-right: 1px solid #ccc;
}

#nav .logo img {
  margin-top: 5px;
  height: 32px;
  display: inline-block;
}

#nav h1 {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: normal;
  margin-top: 27px;
  margin-left: 20px;
}

.main {
  height: 550px;
  width: 100%;
  background: url("img/bg.jpg") no-repeat;
}

.main #login {
  float: right;
  width: 350px;
  height: 515px;
  background-color: #fff;
  margin: 20px 150px 0 0;
}

.main #login .login-box {
  box-sizing: border-box;
  width: 320px;
  height: 50px;
  margin: 20px auto;
  border-bottom: 1px solid #eee;
  text-align: center;
  padding-top: 14px;
}

.main #login .login-box #left {
  height: 35px;
  width: 100px;
  background-color: #eee;
  display: inline-block;
  font-size: 12px;
  color: #000;
  line-height: 35px;
}

.main #login .login-box #left:hover {
  color: red;
}

.main #login .login-box #right {
  background-color: #000;
  height: 35px;
  width: 100px;
  font-size: 12px;
  display: inline-block;
  color: #fff;
  line-height: 35px;
}

.main #login .sr {
  width: 280px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 35px auto;
}

.main #login .sr span {
  width: 40x;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.main #login .sr input {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
}

.main #login .sr input::placeholder {
  font-size: 12px;
}

.main #login .xy {
  width: 280px;
  height: 30px;
  margin: 0 auto;
}

.main #login .xy input {
  margin-left: 35px;
  margin-top: 2px;
  float: left;
  display: block;
}

.main #login .xy span {
  float: left;
  font-size: 12px;
  color: red;
  display: block;
}

.main #login #btn-send {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  border: 0;
  font-size: 16px;
  background-color: red;
  color: #fff;
}

#wb {
  text-align: center;
  color: #999;
  font-size: 12px;
}
